<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Olympic App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header id="site-header">


        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="/">Olympic Events</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="/events">Events
                        <span class="sr-only">(current)</span>
                    </a>
                    <a class="nav-item nav-link" href="/events/create">Create an Event</a>
                </div>
            </div>
        </nav>

    </header>

    <main id="site-main">
        <div class="container">
            <%- body %>
        </div>
    </main>

    <footer id="site-footer">
        Copyright &copy; 2018 Olympic Events
    </footer>
</body>

</html>